# {{.PackageName}}

{{.PackageDescription}}

**Import:** {{.PackagePath}}

**Version:** {{.PackageVersion}}

## Plugin Type

The plugin can be used as the following core types:

- **Logger:** {{.Logger}}
- **Storage System:** {{.StorageSystem}}
- **Router:** {{.Router}}
- **Template Engine:** {{.TemplateEngine}}
- **Session Manager:** {{.SessionManager}}

## Grants

{{GrantRequests}}

## Settings

{{Settings}}

## Routes

{{Routes}}

## Middleware

{{Middleware}}

## FuncMap

{{FuncMap}}

## Assets

{{Assets}}

## Embedded Files

{{EmbeddedFS}}

## Example Usage

{{Example}}

---

Docgen by [Ambient](https://ambientkit.github.io/)