<h1>{{.title}}</h1>
<a href="{{URLPrefix}}/dashboard/posts/new">New post</a>
<ul class="post-list">
    {{range $id, $p := .posts}}
    <li>
        <span>
            <i>
                <time datetime="{{.timestamp | bearblog_Stamp}}" pubdate>
                    {{.timestamp | bearblog_Stamp}}
                </time>
            </i>
        </span>
        <a href="{{URLPrefix}}/dashboard/posts/{{.id}}">{{if .page}}[Page] {{end}}{{.title}}</a>
        {{if not .published}}
        <small>(not published)</small>
        {{end}}
    </li>
    {{end}}
</ul>